body {
  display: grid;
  place-items: center;
  height: 905px;
  margin: 0;
  background-color: #eaf6f6;
}

h1 {
  text-align: center;
}

.main {
  height: 500px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
}

h3 {
  margin-bottom: 5px;
}

.inputBoxes {
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.className {
  height: 35px;
  width: 250px;
  background-color: #eaf6f6;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.classGrade {
  height: 35px;
  width: 100px;
  background-color: #eaf6f6;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

.buttom {
  margin-left: 10px;
  background-color: #eaf6f6;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  height: 35px;
  width: 40px;
}

/* .contentTitle {
  di
  splay: flex;
  
  
  gap: 80px;
} */
